<form (ngSubmit)="addDog(dogForm)" #dogForm="ngForm" >
 <label>Nimi: </label><br>
 <input ngModel name="name" type="text" required > <br>
 <label>Vanus: </label><br>
 <input ngModel name="age" type="number" required><br>
 <label>Tõug: </label><br>
 <input ngModel name="breed" type="text" required> <br>
 <label>Kiibitud: </label><br>
 <input ngModel name="chipped" type="checkbox"> <br>
 <button [disabled]="dogForm.invalid">Sisesta koer</button >
</form><br><br><br>

<!-- 
<form (ngSubmit)="addMouse(addMouseForm)" #mouseForm="ngForm">
 <label>Nimi: </label><br>
 <input ngModel name="name" type="text" required> <br>
 <label>Vanus: </label><br>
 <input ngModel name="age" type="number" required><br>
 <label>Tõug: </label><br>
 <input ngModel name="breed" type="text" required> <br>
  <button [disabled]="addMouseForm.invalid">Sisesta hiir</button>
</form>
 -->
